.gallery1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.gallery1>a{
	font-size: 110px;
	font-style: bold; 
	color: #DC4F45;
	cursor: pointer;
}

.slide>img{
	height: 350px;
	max-width: 670px;
}
